.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  flex-direction: row;
  width: 250px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  align-items: center;

  /* border-bottom: 1px solid skyblue; */
}
input {
  border: none;
  outline: none;
  width: 250px;
}
.input-submit {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-submit .submit-button {
  border: none;
  outline: none;
  color: white !important;
  height: 40px;
  width: 160px;
  font-weight: 500;
  border-radius: 7px;
  background-color: #000000;
  box-shadow: none !important;

}

.input-submit .submit-button:hover , .input-submit .submit-button:active {
 background-color:white !important;
 color: #000000 !important;
 border: 1px solid #000000 !important;
}
